Host earth
    HostName 100.73.40.107
    Port 22
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host marsov
    HostName 100.107.204.42
    Port 6728
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host marsov-local
    HostName 10.0.0.10
    Port 6728
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host printer-bridge
    HostName 100.123.38.67
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host codex-dev
    HostName 192.168.1.8
    User adam
    ForwardAgent yes
    RemoteCommand fish
    RequestTTY yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host codex-testnet
    HostName 192.168.1.9
    User adam
    ForwardAgent yes
    RemoteCommand fish
    RequestTTY yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host tower.cera
    HostName 192.168.1.2
    Port 5205
    User root
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host tower.marsov
    HostName 192.168.3.2
    Port 3157
    User root
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c_two.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host deving
    HostName 192.168.139.145
