Host virgo
    HostName virgo.uhlir.dev
    Port 3273
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_nano.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub


Host earth
    HostName 100.73.40.107
    Port 22
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_nano.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host marsov
    HostName 100.107.204.42
    Port 6728
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_nano.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

Host marsov-local
    HostName 10.0.0.10
    Port 6728
    User adam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa_yubikey_nano_c.pub
    IdentityFile ~/.ssh/id_rsa_yubikey_nano.pub
    IdentityFile ~/.ssh/id_rsa_yubikey.pub

